[submodule "external/FidelityFX-FSR2"]
	path = external/FidelityFX-FSR2
	url = https://github.com/GPUOpen-Effects/FidelityFX-FSR2.git
[submodule "external/FidelityFX-SDK"]
	path = external/FidelityFX-SDK
	url = https://github.com/GPUOpen-LibrariesAndSDKs/FidelityFX-SDK.git
